conda.enabled = true

params {
    long_reads = null
    reads1 = null
    reads2 = null
    min_read_len = 300
    max_read_len = 1900
    min_read_qual = 9
    map_cpu = 6
    min_mapq = 60
    min_dp = 20
    min_snv_freq = 0.55
    trim_bases = 20
    min_overlap = 300
    primer_bed = null
    files_per_bar = 2
    virus = "sars-cov-2"
    model = "r941_prom_sup_g5014"
    conda_path = "/home/a/anaconda3/envs"
    analysis_name = "test001"
    directory = "/home/a/big/ycq/analysis_out"
    pango_virus = ["sars-cov-2"]
    help = true
}

trace {
    enabled = true
    file = "${params.directory}/${params.analysis_name}/${params.analysis_name}-trace.txt"
    overwrite = true
    fields = "task_id,hash,process,tag,name,status,cpus,time,start,complete,duration,workdir,script"
}